# SPH bin
./SPH/bin/
!./SPH/bin/freeglut.dll
!./SPH/bin/FreeImage.dll
!./SPH/bin/glew64.dll

# x64 folder
./SPH/x64/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb

# Visual C++ cache files
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*/.vs
*.log
